RewriteEngine On                                            # ativa o rewrite    
RewriteCond %{SCRIPT_FILENAME} !-f                          # condiciona: se acessar o nome de um arquivo real, ele vai ser acessado
RewriteCond %{SCRIPT_FILENAME} !-d                          # condiciona: se acessar o nome de um diretório real, ele vai ser acessado
RewriteRole ^(.*)$ teste/_mvc/index.php?url=$1 [QSA,L]      # caso não seja acessado nada, ou seja, se a condição for falsa, ele ira redirecionar para o index
